.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #1A2730;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #B0CEE2;
}

.input-section {
    margin-bottom: 20px;
}

.input-section input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.input-section button {
    padding: 10px 15px;
    margin-top: 10px;
    background: #A63E1B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.input-section button:disabled {
    background: white;
    cursor: not-allowed;
}

.input-section button:hover:not(:disabled) {
    background: #E95D2C;
}

.vehicle-details {
    margin-top: 20px;
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.vehicle-details h3 {
    color: #555;
    margin-bottom: 10px;
    text-align: center;
}

.vehicle-details p {
    font-size: 16px;
    margin: 5px 0;
}

.vehicle-details strong {
    color: #555;
}

