/*.container-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.admin-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f9f9f9;
    width: 300px;
    text-align: center;
}

button {
.main-button {
    padding: 10px;
    background: #A63E1B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.main-button:hover {
    background: #E95D2C;
}

.main-button:focus {
    outline: none;
}
*/